@import "themes/modus_operandi.css";

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono, "Font Awesome 6 Free";
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: @bg_color;
  color: @fg_color;
}

#mode {
  background: @alt_color;
  color: @fg_color;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  font-weight: normal;
  padding: 1px;
  min-width: 20px;
  color: @fg_color;
  border: 1px solid @bg_color;
}

#workspaces button:hover {
  background-color: @hg_color;
}

#workspaces button.visible {
  border: 1px solid @fg_color;
  background-color: @bg_color;
  color: @fg_color;
}

#workspaces button.focused {
  background-color: @fg_color;
  color: @bg_color;
}

#workspaces button.urgent {
  border: 1px solid @urgent_color;
  background-color: @urgent_color;
  color: @fg_color;
}

#battery.critical:not(.charging) {
  color: @warning_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-recording {
  background-color: @bg_color;
  color: @fg_color;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-recording,
#custom-notifications,
#custom-wireguard,
#scratchpad,
#privacy,
#mpris,
#network,
#battery,
#bluetooth,
#pulseaudio,
#clock {
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes blink {
  to {
    color: transparent;
  }
}
